@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Ubuntu+Mono&display=swap');

/* global css resets */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

/* declaring global variables */
:root {
  --accent-color: #ccc;
  --primary-text: black;

  --accent-color-ai: rgba(255, 105, 180);
  --accent-color-blockchain: rgba(251, 229, 64);
  --accent-color-webDev: rgba(68, 253, 95);
  --accent-color-dataScience: rgba(63, 246, 203);

  --accent-gradient-ai: linear-gradient(hsla(0, 0%, 43%, 0.2),
      rgba(255, 105, 180, 0.2));

  --accent-gradient-blockchain: linear-gradient(hsla(0, 0%, 43%, 0.2),
      rgba(251, 229, 64, 0.2));

  --accent-gradient-webDev: linear-gradient(hsla(0, 0%, 43%, 0.2),
      rgba(68, 253, 95, 0.2));

  --accent-gradient-dataScience: linear-gradient(hsla(0, 0%, 43%, 0.2),
      rgba(63, 246, 203, 0.2));

  --box-shadow-generic: -3px -3px 30px #ffffff73,
    3px 3px 30px rgba(94, 104, 26, 0.288);
}


body {
  font-family: 'Lato', sans-serif;
  font-family: 'Ubuntu Mono', monospace;
  background-color: white;
}

::-webkit-scrollbar {
  display: none;
}

/* wrapping container styling */
.container {
  width: 90%;
  height: auto;
  margin: 0 auto;
  margin-block: 0.5rem;
  background-color: white;
}